<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogPath" value="./Logs" ></add>
	</appSettings>
	<connectionStrings>
		<add name="SelfConnection" connectionString="Server=localhost;User ID=sa;Password=2wsx1qaz`;Database=TestDatabase;Encrypt=false" />
		<add name="ClientConnection" connectionString="Server=localhost;User=sa;Password=2wsx1qaz`;Database=TNF12;MultipleActiveResultSets=true" />
	</connectionStrings>
</configuration>